h2 Voeg een club toe
form(action='/' method='post')
    div#steps
      a#step1(href = "") Stap 1
      a#step2(href = "") Stap 2
      a#step3(href = "") Stap 3
    fieldset.form1
      label
        | Selecteer jouw club 
        br
        select(name='club')
          option TTV Stedebroec
          option Heemskerk
          option Tebunus
          option Olympia
          option Backhands
          option De Victors
          option Disnierats
          option TTV De Roemer
        br
      div.buttons 
        a.volgende1.button(href = "") Volgende
    fieldset.form2  
      label
        | Hoelang ben je al lid? (in jaren)
        br
        input(type='number' name='time' placeholder='') 
        br
      div.buttons
        a.vorige1.button(href = "") Vorige
        a.volgende2.button(href = "") Volgende
    fieldset.form3
      label
        | Wat vind je zo leuk bij deze club? 
        br
        textarea#description(name='description' rows='10')
        br
      a.vorige2.button(href = "") Vorige
      button#toevoegen Toevoegen aan profiel
        