doctype html
head
  title Form
  h1 Voeg een club toe
  
  form(action='/' method='post')
    label
      | Kies een club 
      br
      select(name='club')
        option TTV Stedebroec
        option Heemskerk
        option Tebunus
        option Olympia
      br
    label
      | Hoelang ben je al lid? 
      br
      input(name='time' placeholder='.. Jaar')
      br
    label
      | Wat vind je zo leuk bij deze club? 
      br
      input#description(name='description' rows='10')
      br
    button Toevoegen aan profiel