doctype html
head
  title Form
  h1 Voeg een club toe
  
  form(action='/' method='post')
    label
      | Kies een club 
      br
      select(name='club')
        option(value='volvo') TTV Stedebroec
        option(value='saab') Heemskerk
        option(value='fiat') Tebunus
        option(value='audi') Olympia
      br
    label
      | Hoelang ben je al lid? 
      br
      input(name='hoelang' placeholder='.. Jaar')
      br
    label
      | Wat vind je zo leuk bij deze club? 
      br
      input#beschrijving(name='beschrijving' rows='5')
      br
    button Toevoegen aan profiel