header#header
  nav
  ul
    li
      a(href='/') Home
    li
      a(href='/profiel') Profiel
    li
      a(href='/matches') Matches
    li
      a(href='/zoeken') Zoeken
    li
      a(href='/inbox') Inbox