nav
    ul
      li
        a(href='/') Home
      li
        a(href='/profile') Profiel
      li
        a(href='/matches') Matches
      li
        a(href='/zoeken') Zoeken
      li
        a(href='/inbox') Inbox