nav
    ul
      li
        a(href='/home') Home
      li
        a(href='/profile') Profiel
      li
        a(href='/matches') Matches
      li
        a(href='/search') Zoeken
      li
        a(href='/inbox') Inbox