include partials/head.pug

title Profiel

body
    include partials/nav.pug
    main
      h1 Profiel
      include partials/form.pug

    footer#footer
      p Ping Pong Partners - 2019
      p Copyright (c) Stefan Gerrits
    script(src='../static/js/client.js')