include partials/head.pug

title Profiel

body
    include partials/nav.pug
    main
      h1 Profiel
      include partials/form.pug

    include partials/footer.pug
    script(src='static/js/client.js')