include partials/head.pug

title Home

body.background
    include partials/nav.pug
    main
      h1.home Home
      div.userstatus
        if username
          h2 Welkom #{username}
          a.button(href='/logout') Uitloggen
        else
          h2 Je bent nog niet ingelogd
          a.button(href='/') Inloggen

    include partials/footer.pug
    script(src='../static/js/client.js')