html
  head
    style
     include views.css
    <link rel="stylesheet" href="https://use.typekit.net/xyh4kkm.css">
    title Home

  body
    include partials/header.pug
   
    include partials/footer.pug