html
  head
    style
     include views.css
    <link rel="stylesheet" href="https://use.typekit.net/xyh4kkm.css">
    title Mijn club
    h1 club
    script. 
    for (var index = 0; index < data.length; index++) {
        h2
          a(href='data[index].id') data[index].club
        p data[index].time
    


  body
    include partials/header.pug
    h1= "Mijn club"
    
    include partials/footer.pug