html
  head
    style
     include views.css
    <link rel="stylesheet" href="https://use.typekit.net/xyh4kkm.css">
    title Matches

  body
    include partials/header.pug
    h1 Matches
   
    include partials/footer.pug