include partials/head.pug

title Profiel
    
body
    include partials/nav.pug
    main
      h1 Profiel
      a.button(href='/mijnclub') Mijn club 
      br
      br
      a#voegtoe.button(href='/add') Club toevoegen

    include partials/footer.pug
    script(src='static/js/client.js')