html
  head
    include partials/styles.pug
    title Profiel
    
  body
    include partials/header.pug
    main
      h1 Profiel
      a.button(href='/mijnclub') Mijn club 
      br
      br
      a#voegtoe.button(href='/add') Club toevoegen
    
    include partials/footer.pug