include partials/head.pug

title Mijn profiel
    
body
    include partials/nav.pug
    main
      h1 Denise de Jong
      div#container
        div#picture 
          img(src='../static/images/woman.png', alt='Profielfoto')
        article#information
          h1 Over mij
          a.button(href='/myclub') Mijn club 
          br
          br
          a#voegtoe.button(href='/add') Club toevoegen
      p#amount 6 foto's
      div#pictures
        img(src='../static/images/jump.jpg', alt='Someone jumping while playing table tennis')
        img(src='../static/images/table.jpg', alt='Table')
        img(src='../static/images/tabletennis.jpg', alt='Friends playing table tennis')
        img(src='../static/images/woman2.jpg', alt='Woman playing table tennis')
        img(src='../static/images/serve.jpg', alt='Serving')
        img(src='../static/images/woman.png', alt='Another woman playing table tennis')
        
    include partials/footer.pug
    script(src='../static/js/client.js')