include partials/head.pug

title Login

body
include partials/nav.pug
main
  h1 Inloggen
  div#login
    form(action='/home' method='post')
     label
       | Gebruikersnaam
       br
       input(type='text' name='username')
       br
     label
       | Wachtwoord
       br
       input(type='password' name='password') 
       br
     button#inloggen.button Inloggen
     p#wrongCredentials Sorry, deze inloggegevens zijn niet juist!
     script(src='../static/js/client.js')