html
  head
    style
     include views.css
    <link rel="stylesheet" href="https://use.typekit.net/xyh4kkm.css">
    title Zoeken

  body
    include partials/header.pug
    h1 Zoeken
    include partials/footer.pug