body h1 {
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

body {
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  background-color: #222430;
  overflow-x: hidden;
}

/*nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
  color: white;
}

#description {
  width: 80%;
  border: 1px solid #aaaaaa;
}

li {
  margin-left: 0.5em;
}

nav ul {
  display: flex;
}

li a {
  display: block;
  color: #222430;
  text-align: center;
  padding: 1em 0.8em;
  text-decoration: none;
  font-size: 1em;
}

li a:hover {
  background-color: #E2E2E2;
}

button {
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

form button {
  font-size: 1.2em;
  margin-top: 1em;
  padding: 0.5em 2em;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E05635;
  color: white;
  border: none;
}

select, select option {
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

select {
  font-size: 1.1em;
}

select, input {
  margin-bottom: 2em;
  -webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,1);
  box-shadow: 10px 10px 17px -2px rgba(0,0,0,1);
}

input {
  padding: 0.5em;
  border: 1px solid #aaaaaa;
  width: 5em;
}

/*button om club toe te voegen*/
.button {
  text-decoration: none;
  font-size: 1em;
  margin-top: 4em;
  padding: 0.5em 2em;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E05635;
  color: white;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  margin: 0 auto;
  max-width: 80%;
}

p {
  color: white;
}

/*profile page*/
#information {
  background-color: #181B23;
  padding: 0.1em 1em 2em 1em;
  margin: 1em 0em;
  border-radius: 15px;
  border: 0.1px solid black;
  -webkit-box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
  -moz-box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
  box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
}

#picture img {
  border-radius: 50%;
  width: 100%;
  -webkit-box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
  -moz-box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
  box-shadow: 14px 14px 10px -9px rgba(0,0,0,0.46);
}

#pictures {
  margin-top: 10em;
  display: grid;
  grid-gap: 2em;
}

#pictures img {
  width: 100%;
}

#amount {
  margin-top: 4em;
  margin-bottom: -10em;
}

/*login*/
#login {
  border: 1px solid black;
  background-color: white;
  margin-top: 2em;
  padding: 1em;
}

input {
  width: 80%;
}

#inloggen {
  border: none;
  margin-top: 1em;
}

div form label {
  color: black;
}

/*footer*/
footer {
  background-color: white;
  height: 7em;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 3em;
}

footer p {
  padding-top: 1em;
  padding-left: 2em;
  color: black;
}

#toevoegen {
  margin-bottom: 3em;
}

/*mediaqueries*/
@media(min-width:600px) {
  main {
    margin-left: 6em;
  }
  footer p {
    padding-left: 6em;
  }
  ul li:first-child {
    padding-left: 4.5em;
  }
  li a {
    padding: 14px 16px;
    font-size: 1em;
  }
  #picture img {
    border-radius: 50%;
    width: 50%;
  }
  #information {
    width: 100%;
    padding-left: 2em;
  }
  #pictures {
    grid-template-columns: 1fr 1fr;
  }
  #pictures img {
    margin-right: 20%;
  }
  #login {
    width: 30em;
  }
}

@media(min-width:960px) {
  main {
    margin-left: 12em;
  }
  footer p {
    padding-left: 12em;
  }
  ul li:first-child {
    padding-left: 10.5em;
  }
  li a {
    padding: 14px 16px;
  }
  #picture img {
    width: 100%;
  }
  #container {
    display: flex;
    width: 100%;
  }
  #information {
    margin: 0em 0em 0em 8em;
    width: 100%;
  }
  #pictures {
    margin-top: 10em;
    grid-template-columns: 25% 25% 25%;
  }
  #pictures img {
    margin-right: 5em;
  }
}